# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# app examples / test data
app-example

# Convex
.convex/

# Truffle/Hardhat
artifacts/
cache/
build/
typechain/
typechain-types/

# VSCode
.vscode/

# Environment variables
.env.*
!.env.example

# Logs
*.log

# iOS/Android (optional, if ejected)
android/
ios/
